{
  "rules": {
    "no-underscore-dangle": ["error", { "allowAfterThis": true }]
  },
  "env": {
    "node": true,
    "mocha": true
  },
  "extends": [
    "airbnb-base"
  ],
  "plugins": [
    "promise"
  ],
  "globals": {
    "expect": false,
    "diContainer": false,
    "nock": false,
    "sinon": false,
    "request": false,
    "faker": false
  }
}
